[Unit]
Description=Run Astral watchdog every 30s

[Timer]
OnBootSec=30
OnUnitActiveSec=30
Unit=astral-watchdog.service

[Install]
WantedBy=timers.target
