[Unit]
Description=Run Stream watchdog every 30s

[Timer]
OnBootSec=30
OnUnitActiveSec=30
Unit=stream-watchdog.service

[Install]
WantedBy=timers.target
